#root {
  max-width: 1480px;
  margin: 0 auto;
  border: 2px solid black;
  padding: 20px;
}
header{
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}
ul{
  list-style: none;
}
nav ul{
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* MAIN CONTENT */
.main-container{
  padding: 10px;
  border: 2px solid green;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.bench{
  border: 2px solid blue;
  width: 25%;
  height: 300px;
}
.team-container{
  border: 2px solid purple;
  width: 70%;
  height: 400px;
  padding: 10px;
}
.player-container{
  border: 2px solid orange;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}
.player-card{
  border: 2px solid pink;
  width: 300px;
  text-align: center;
}
.bench{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}